.yellow {
    color : aquamarine
}

#theo {
    text-align: center;
}
#nico { text-align: left;}

.red { color: blue; }

h1 {color: blue !important; }

.center {
    text-align: center; 
    background-color: rgb(96, 244, 219);
}

.center:hover {
    text-align: center; 
    background-color: pink
}